{{ $currentPage := . }}
<nav role="navigation">
  <ul class="list pa0 nl2">
    {{ range .Site.Menus.ipfilter.ByWeight }}
      {{ $post := printf "%s" .Post }}
      <li class="f5 w-100 hover-bg-light-gray hover-accent-color-light fw8{{ if eq $post "break" }} mb1 bb b--moon-gray{{ end }}">
        <a href="{{.URL}}" class="js-toggle dib w-100 link mid-gray hover-accent-color-light pl2 pr2 pv2  primary-color" >{{ .Name }}</a>

          {{ if .HasChildren }}
            <ul class="{{ .Name | urlize }} desktopmenu animated fadeIn list pl0 bg-light-gray db">
              {{ range .Children }}
                <li  class="f6 fw4">
                  <a href="{{.URL}}" class="db link hover-bg-gray hover-white pl3 pr2 pv2 {{if $currentPage.IsMenuCurrent "ipfilter" . }}primary-color {{ else }}black {{end}}">
                    {{ .Name }}
                  </a>
                </li>
              {{ end }}
            </ul>
          {{end}}
        </li>
    {{end}}
  </ul>
</nav>

{{/*

  <img src="https://dev.azure.com/sadrobot/IPFilter/_apis/build/status/IPFilter%20Release" />

<div>
  <form name="donateform" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
    <input type="hidden" name="cmd" value="_donations">
    <input type="hidden" name="business" value="UDLRX86PCSU9C">
    <input type="hidden" name="item_name" value="IPFilter">
    <input id="donations-amount" name="amount" value="5.00" type="text" maxlength="30" size="7">
    <select name="currency_code" id="donations-currency">
        <option value="USD" selected="selected">$ USD</option>
        <option value="EUR">€ EUR</option>
        <option value="GBP">£ GBP</option>
        <option value="CAD">$ CAD</option>
        <option value="AUD">$ AUD</option>
        <option value="NZD">$ NZD</option>
    </select>
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
  </form>
</div>

*/}}

<p class=" nested-links"><a href="{{ "https://www.jetbrains.com/?from=IPFilterUpdater" | absURL }}" class="link" target="_blank">{{ partial "svg/jetbrains.svg"}}<br/>Supported by Jetbrains. {{ partial "svg/link-ext.svg" (dict "fill" "#333" "size" "14") }}</a></p>